<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @ride.user.username %></h1>
    <p>
      <%= @ride.users[0].username %> showed interest in your ride %>
    </p>
  </body>
</html>