body {
    background-color: #212121;
    color: white;
}

nav{
    .brand-logo{
        font-family: 'Pacifico', cursive;
    }
    .btn{
        color: #000000;
    }
}

.welcome-page{
    p{
        font-size: 20px;
    }
}

%form-styles{
    background-color: white;
    // border: solid #673ab7 5px;
    border-radius: 20px;

    .row{
        padding: 30px;
    }

    .btn{
        color: #000000;
    }
}

.signup-form{
    @extend %form-styles;
}

.ride-form{
    @extend %form-styles;

    form{
        padding: 30px;
    }
}

#error_explanation{
    color: #000000;
    h2{
        font-size: 10px;
    }
}

.ride-form-header{
    padding-bottom: 20px !important;
    padding-left: 67px !important;
}

.rides{
    .collection{
        .collection-item.avatar{
            min-height: 168px !important;
            padding: 18px;
        }
    }
}

.ride{
    .path{
        font-size: 50px !important;
        padding-bottom: 30px !important;
    }

    .ride-type{
        font-size: 40px;
        padding-bottom: 30px !important;
    }
    
    .take-off{
        font-size: 18px;
    }

    .seats{
        font-size: 32px;
    }

    .interest-btn{
        font-size: 20px !important;
        width: 15% !important;
        a{
            color: white !important;
        }
    }
}

.login-links{
    padding-top: 50px !important;
}